{% extends 'base.html' %}

{% block title %}Dashboard - Resume Advisor{% endblock %}

{% block content %}
<h2>Welcome, {{ user.username }}!</h2>
<h3>Your Resumes</h3>
{% if resumes %}
    <ul>
    {% for resume in resumes %}
        <li>
            <a href="{% url 'resume_edit' resume.id %}">{{ resume.name }}</a>
            - Last updated: {{ resume.updated_at|date:"F d, Y" }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You haven't created any resumes yet.</p>
{% endif %}
<a href="{% url 'resume_new' %}" class="button">Create New Resume</a>
{% endblock %}